https://read.xvanturing.tech {
	handle_path /public/books/* {
		root * /books
		file_server browse
	}
	handle /api/* {
		reverse_proxy http://backend:3000
	}
	handle /* {
		root * /app
		file_server browse
	}
}
